<header>
  <div id="title">{{title}}</div>
  <div class="search">
    <div class="searchbar">
      <input type="search" name="search-input" id="search-input" maxlength="250" (search) = "Search()">
        @if(this.nominatimService.searchResults$ | async; as results){
        <select  name="result" id="result" (change) = "selectedOption($event)">
          <option disabled selected value> -- select an option -- </option>
          @for(res of results; track res.latitude){
            <option [value]="res.longitude + ',' + res.latitude">{{res.displayName}}</option>
          }
        </select>
        }
    </div>
    <button id = "search-btn" type="submit" (click) = "Search()">Search</button>
  </div>
</header>
<main class="map-container">
  <!-- <div class="left-bar"></div> -->
  <!-- <div id="ol-map" class="map-container"></div> -->
  <app-map [map] = "map"></app-map>
</main>
<footer>
  <!-- <div class="search">
    Search
  </div> -->
  <div class="map-details">
    <app-mouse-position [map]="map" positionTemplate="{x}, {y} m"></app-mouse-position>
    <app-scaleline [map] = "map"></app-scaleline>
  </div>
</footer>